body {
  background: #000;
  color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}

.bg-desktop {
  background-image: url("./assets/img/background_LandingPage.jpg");
}

.bg-mobile {
  background-image: url("./assets/img/joiMobile.jpg");
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}

.scroll-container::-webkit-scrollbar {
  height: 5px;
}

.scroll-container::-webkit-scrollbar-track {
  background: black;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}

.image-container:hover .overlay {
  opacity: 1;
}

.message-input {
  background: black !important;
}

.cs-chat-container .cs-message-input {
  border: none !important;
}
