::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

.scroll-container::-webkit-scrollbar {
  height: 5px;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  background: rgba(255, 255, 255, 0.75);
}
